.DS_Store
__pycache__/

node_modules/
bin/
lib/
include/
pip-selfcheck.json
pyvenv.cfg
package-lock.json

# Database.
sqlite.db

# Created during setup.
secret.py
.babelrc

# Compiled during setup.
static/app.js
static/bulma.css

# Downloaded during setup.
static/react-dom.js
static/react.js
static/chart.bundle.js
static/fetch.js
