{% extends "index.html" %}
{% block content %}

    <section class="text">
        <div>
            <h3>Percentiles</h3>

            <p>While WN8 rating is a good measure of overall player competency in one number, percentiles can be useful when it is necessary to assess the performance of a single tank. 50th percentile is same as median and represents an average player, 100th represents the best of the best.</p>

            <p>Percentiles were calculated as follows: The data of around 50,000 random WoT Console profiles was collected. To be a piece of valid data, a player must have had at least 2500 battles on the account. Then ratios were calculated for each tank of every player. To be included in the final rating, different tiers require different minimum numbers of battles. After assembling all player ratios, the percentiles for each tank were calculated using a math module. More information about percentile can be found on <a href="https://en.wikipedia.org/wiki/Percentile">Wikipedia</a>.</p>
            <br>
            
            <h3>WN8 calculation</h3>

            <p>Unlike most of other web sites which provide WN8 scores for Consoles, this site uses WN8 expected values precisely calculated for console players. With Console WN8 table it's impossible to increase the overall WN8 rating by playing on tanks that have premium matchmaking on consoles but don't have it on PC. It's also impossible to do so called "stat padding" when certain tanks are either overpowered on console or nerfed on PC.</p>

            <p>The WN8 rating was calculated by using the same chunk of data used for percentiles. The aim was to keep the same level of WN8 scores as with PC table, but have tanks normalized according to their real Console performance. Tier by tier, starting from 10, console data was fitted inside the same slope which comes out of using WN8 PC table.</p>

            <p>The outcome looks <a href="https://github.com/IDDT/wot-console-playerbase-analysis/blob/master/wn8_results/all_tanks.png">near identical</a> but with Console-specific values inside. As a bonus, actual expected statistics for Console-exclusive tanks were also calculated.</p>

            <p>Latest percentiles and WN8 table update: 19 FEB 2017
            <br>The <a href="https://github.com/IDDT/wot-console-playerbase-analysis">GitHub repo</a> for calculating percentiles and WN8
            <br>Download WN8 table in <a href="https://github.com/IDDT/wot-console-playerbase-analysis/blob/master/wn8_results/wn8console.json">JSON</a>.</p>
            <br>

            <h3>Statistics  Table</h3>

            <p>Avg Damage, Avg Frags, Avg EXP - show average damage, frags and experience per battle.
            <br>Avg DPM, Avg FPM, Avg EPM - average damage, frags, and experience per minute. ***
            <br>Dmg Percentile, WR Percentile, Exp Percentile - damage, winrate and experience percentiles based on averages.
            <br>Penetrated/Hits caused -  Percentage of player's penetrating hits out of all hits, excluding misses.
            <br>Bounced/Hits received - Percent of all non-damage hits that the player received.
            <br>Total Lifetime -  Total number of minutes spent driving the tank. ***
            <br>Average Lifetime: Average lifetime. ***
            <br>Last battle time: How many (min, h, d, m, y) ago the tank was driven.
            <br>*** Only the time between the actual start of the battle (15:00 on a battle timer) and player death is included.</p>
            <br>

            <h3>Export functionality</h3>

            <p>Currently, as an experimental feature, it's possible to export clean data straight into CSV for own analysis in Excel or Tableau. Use following URL: "wot.pythonanywhere.com/export/{type}/{server}/{username}/" where type is either 'csv' or 'json', server: 'xbox' or 'ps4', and username is either your Xbox Gamertag or PSN. Then in the browser click File > Save As. For example, to export my statistics the URL would be "wot.pythonanywhere.com/export/csv/ps4/turboparrot666/".</p>

            <p>The current WN8 table is also available for <a href="/export/wn8/x/x/">export in CSV</a>.</p>
            <br>


            <h3>Data Collection</h3>

            <p>Every time user performs statistics look up, the site collects and stores the data point for caching and charting purposes. Daily snapshots are stored for a minimum of 8 days so users will be able to see daily changes in their stats for the last 7 days.</p>

            <p>Because the website performs charting and data calculations in real time, storing data for longer periods of time might be taxing not only on CPU but also on server storage. The advantage of this method is if the variables change (like WN8 table) old values are just recalculated as usual.</p>
            <br>


            <h3>Bugs and errors</h3>

            <p>If something doesn't seem to work properly or as expected, please consider submitting an issue on <a href="https://github.com/IDDT/wot-console-stats/issues">GitHub</a>, or if you don't have GitHub account, send a message to <a href="http://forum-console.worldoftanks.com/index.php?/user/turboparrot666-1076121407/">my profile</a> on World Of Tanks Console forum.</p>       
        </div>
    </section>
                    
{% endblock %}