{% extends "index.html" %} {% block content %}

<section class="section">
    <div class="container">

        <div class="control is-grouped">
            <p class="control is-expanded">
                <input type="text" class="input" id="nickname" placeholder="Playername">
            </p>
            <p class="control has-addons">
                <a class="button" id="xbox" onclick="form.serverToggle('xbox')">XBOX</a>
                <a class="button" id="ps4" onclick="form.serverToggle('ps4')">PLAYSTATION</a>
            </p>
        </div>

        <div class="columns">

            <div class="column">
                <p class="control">
                    <a id="1" class="button is-light is-fullwidth" onclick="form.filtersToggle('1')">Tier 1</a>
                </p>
                <p class="control">
                    <a id="2" class="button is-light is-fullwidth" onclick="form.filtersToggle('2')">Tier 2</a>
                </p>
            </div>

            <div class="column">
                <p class="control">
                    <a id="3" class="button is-light is-fullwidth" onclick="form.filtersToggle('3')">Tier 3</a>
                </p>
                <p class="control">
                    <a id="4" class="button is-light is-fullwidth" onclick="form.filtersToggle('4')">Tier 4</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="5" class="button is-light is-fullwidth" onclick="form.filtersToggle('5')">Tier 5</a>
                </p>
                <p class="control">
                    <a id="6" class="button is-light is-fullwidth" onclick="form.filtersToggle('6')">Tier 6</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="7" class="button is-light is-fullwidth" onclick="form.filtersToggle('7')">Tier 7</a>
                </p>
                <p class="control">
                    <a id="8" class="button is-light is-fullwidth" onclick="form.filtersToggle('8')">Tier 8</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="9" class="button is-light is-fullwidth" onclick="form.filtersToggle('9')">Tier 9</a>
                </p>
                <p class="control">
                    <a id="10" class="button is-light is-fullwidth" onclick="form.filtersToggle('10')">Tier 10</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="lightTank" class="button is-light is-fullwidth" onclick="form.filtersToggle('lightTank')">Light Tanks</a>
                </p>
                <p class="control">
                    <a id="mediumTank" class="button is-light is-fullwidth" onclick="form.filtersToggle('mediumTank')">Medium Tanks</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="heavyTank" class="button is-light is-fullwidth" onclick="form.filtersToggle('heavyTank')">Heavy Tanks</a>
                </p>
                <p class="control">
                    <a id="AT-SPG" class="button is-light is-fullwidth" onclick="form.filtersToggle('AT-SPG')">AT-SPG</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="SPG" class="button is-light is-fullwidth" onclick="form.filtersToggle('SPG')">SPG</a>
                </p>
                <p class="control">
                    <a class="button is-warning is-fullwidth" onclick="form.resetFilters();">Reset Filters</a>
                </p>
            </div>
        </div>

        <p class="control">
            <a class="button is-primary is-fullwidth" onclick="form.submit()">{{ button }}</a>
        </p>
        
        <form name="theForm" action="." method="POST">
            <input type=hidden name="form_data">
        </form>
            
        <script>
            
            var formData = {{ form_data|safe }};
            
            // Calling the form function.
            var form = new formClass(formData);
            
            // Intiating the form.
            form.initBasics();
            form.initFilters();
        
        </script>

        
        
        {% if wn8_totals|length > 0 %}

        <div class="tabs is-medium is-centered">
            <ul>
                <li class="tablinks" onclick="page.switchTab(event, 'dashboard');">
                    <a>Dashboard</a>
                </li>
                <li class="tablinks" onclick="page.switchTab(event, 'in-detail');">
                    <a>In-detail</a>
                </li>
            </ul>
        </div>

        <div id="dashboard" class="tabcontent" style="display: none;">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box content custom-card">
                        <p>{{ all_time['wr'] }} % &nbsp;{{ difference['wr']|safe }}</p>
                        <p style="font-size: 25px;">WINRATE</p>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child box content custom-card">
                        <p>{{ all_time['wn8'] }} &nbsp;{{ difference['wn8']|safe }}</p>
                        <p style="font-size: 25px;">WN8 {{ all_time['wn8_color']|safe }}</p>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child box content custom-card">
                        <p>{{ all_time['total_perc'] }} % &nbsp;{{ difference['total_perc']|safe }}</p>
                        <p style="font-size: 25px;">PERCENTILE</p>
                    </div>
                </div>
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-parent is-6">
                    <div class="tile is-child box is-12">
                        <canvas id="WN8Canvas" width="100" height="40"></canvas>
                    </div>
                </div>
                <div class="tile is-parent is-6">
                    <div class="tile is-child box is-12">
                        <canvas id="PercCanvas" width="100" height="40"></canvas>
                    </div>
                </div>
            </div>


        </div>

        <div id="in-detail" class="tabcontent" style="display: none;">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-6">
                    <div class="tile is-child box is-12">
                        <canvas id="RadChCanvas" width="100" height="70"></canvas>
                    </div>
                </div>
                <div class="tile is-parent is-6">
                    <div class="tile is-child box is-12">
                        <table class="table">
                            <tr>
                                <td></td>
                                <td></td>
                                <td>All time</td>
                                <td>Recent</td>
                            </tr>
                            <tr>
                                <td>{{ difference['wr']|safe }}</td>
                                <td>Win Rate</td>
                                <td>{{ all_time['wr'] }} %</td>
                                <td>{{ recent['wr'] }} %</td>
                            </tr>
                            <tr>
                                <td>{{ difference['wn8']|safe }}</td>
                                <td>WN8</td>
                                <td>{{ all_time['wn8'] }}</td>
                                <td>{{ recent['wn8'] }}</td>
                            </tr>
                            <tr>
                                <td>{{ difference['total_perc']|safe }}</td>
                                <td>Total Percentile</td>
                                <td>{{ all_time['total_perc'] }} %</td>
                                <td>{{ recent['total_perc'] }} %</td>
                            </tr>
                            <tr>
                                <td>{{ difference['acc']|safe }}</td>
                                <td>Accuracy</td>
                                <td>{{ all_time['acc'] }} %</td>
                                <td>{{ recent['acc'] }} %</td>
                            </tr>
                            <tr>
                                <td>{{ difference['dmgc']|safe }}</td>
                                <td>Damage Caused</td>
                                <td>{{ all_time['dmgc'] }}</td>
                                <td>{{ recent['dmgc'] }}</td>
                            </tr>
                            <tr>
                                <td>{{ difference['rass']|safe }}</td>
                                <td>Radio Assist</td>
                                <td>{{ all_time['rass'] }}</td>
                                <td>{{ recent['rass'] }}</td>
                            </tr>
                            <tr>
                                <td>{{ difference['dmgr']|safe }}</td>
                                <td>Damage Received</td>
                                <td>{{ all_time['dmgr'] }}</td>
                                <td>{{ recent['dmgr'] }}</td>
                            </tr>
                            <tr>
                                <td>{{ difference['k_d']|safe }}</td>
                                <td>Kills / Deaths</td>
                                <td>{{ all_time['k_d'] }}</td>
                                <td>{{ recent['k_d'] }}</td>
                            </tr>
                            <tr>
                                <td>{{ difference['dmgc_dmgr']|safe }}</td>
                                <td>Damage Caused / Received</td>
                                <td>{{ all_time['dmgc_dmgr'] }}</td>
                                <td>{{ recent['dmgc_dmgr'] }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script>
            
            var xLabels = {{ xlabels|tojson|safe }};
            var wn8Totals = {{ wn8_totals|tojson|safe }};
            var percentilesTotals = {{ percentiles_totals|tojson|safe }};
            var recent = {{ recent|tojson|safe }};
            var allTime = {{ all_time|tojson|safe }};
            
            
            // Calling the page function.
            var page = new playerProfileClass(xLabels, wn8Totals, percentilesTotals, recent, allTime);
            
            // Open default tab.
            document.getElementsByClassName("tablinks")[0].click();
            
        </script>
        
        {% endif %}
        
        
        
    </div>
</section>
        
{% endblock %}
