{% extends "index.html" %} {% block content %}

<form action="." method="POST">
    
    <section class="form-table">
        <table class="wrapper">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td style="padding-left: 5px;">
                                Playername:
                            </td>
                            <td>
                                <input name="nickname" type="text" value="{{ nickname }}" placeholder="Enter your nickname" />
                            </td>
                            <td style="padding-left: 5px;">
                                Server:
                            </td>
                            <td>
                                <input type="radio" name="server" id="xbox" class="button-box" value="xbox" {{ 'checked' if server=='xbox' }}/>
                                <label for="xbox">XBOX</label>
                            </td>
                            <td>
                                <input type="radio" name="server" id="ps4" class="button-box" value="ps4" {{ 'checked' if server=='ps4' }}/>
                                <label for="ps4">PS4</label>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td style="padding-left: 5px;">
                                Select time period:
                            </td>
                            {% for checkpoint in history_checkpoints %}
                            <td>
                                <input type="radio" name="checkpoints" id="{{ checkpoint[0] }}" class="button-box" value="{{ checkpoint[0] }}" />
                                <label for="{{ checkpoint[0] }}">{{ checkpoint[1] }}</label>
                            </td>
                            {% endfor %}   
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
    </section>
    
    <br>
    
    <section class="tabs">
        <div>
            <ul>
                <li><button type="submit" class="current">{{ button|safe }}</button></li>
            </ul>
        </div>
    </section>

    <br> 
    
    {% if session_tanks|length > 0 %}
    
    <section style="max-width: 1164px; min-width: 1024px; margin: 0 auto;">
        <div style="padding-left: 40px; padding-right: 40px; display: flex;">
            <nav class="sidenav">
                <div>
                    <h4 style="text-align: center; padding: 10px;">Tanks</h4>
                </div>
                    
                <a href="javascript:void(0)" class="tablinks" onclick="sideMenu(event, 'overview'); ChartOverview(); ChartOverview2();">Overview</a>
                    
                {% for tank in session_tanks %}
                {% set id = tank['tank_id'] %}
                <a href="javascript:void(0)" class="tablinks" onclick="sideMenu(event, '{{ id }}'); Chart{{ id }}();">
                {{ tank['tank_name']|safe }}
                </a>
                {% endfor %}
                    
            </nav>
                
                <div id="overview" class="tabcontent" style="display:none">
                    <canvas id="BarChart_dmgc" width="500" height="150"></canvas>
                    <canvas id="BarChart_wn8" width="500" height="150"></canvas>
                </div>
                
                {% for tank in session_tanks %}
                {% set id = tank['tank_id'] %}
                <div id="{{ id }}" class="tabcontent" style="display:none">
                    <div style="display: flex; justify-content: center; align-items: top;">
                        
                        <div style="width: 60%; padding: 15px;">
                            <canvas id="canvas{{ id }}" width="200" height="200"></canvas>
                        </div>
                        <div style="width: 40%;">
                            <table class="minitable" cellpadding="10">
                                <tr>
                                    <td colspan="3" style="background: #cee0e6">
                                        {{ tank['tank_name'] }} Battles: {{ tank['battles_session'] }}  Wins: {{ tank['wins_session'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Averages</td>
                                    <td>Session</td>
                                    <td>All time</td>
                                </tr>
                                <tr>
                                    <td>Accuracy</td>
                                    <td>{{ '{:0.0f} %'.format(tank['acc_session']) }}</td>
                                    <td>{{ '{:0.0f} %'.format(tank['acc_all']) }}</td>
                                </tr>
                                <tr>
                                    <td>Damage Caused</td>
                                    <td>{{ '{:0.0f}'.format(tank['dmgc_session']) }}</td>
                                    <td>{{ '{:0.0f}'.format(tank['dmgc_all']) }}</td>
                                </tr>
                                <tr>
                                    <td>Radio Assist</td>
                                    <td>{{ '{:0.0f}'.format(tank['rass_session']) }}</td>
                                    <td>{{ '{:0.0f}'.format(tank['rass_all']) }}</td>
                                </tr>
                                <tr>
                                    <td>Experience</td>
                                    <td>{{ '{:0.0f}'.format(tank['exp_session']) }}</td>
                                    <td>{{ '{:0.0f}'.format(tank['exp_all']) }}</td>
                                </tr>
                                <tr>
                                    <td>Damage Received</td>
                                    <td>{{ '{:0.0f}'.format(tank['dmgr_session']) }}</td>
                                    <td>{{ '{:0.0f}'.format(tank['dmgr_all']) }}</td>
                                </tr>
                                <tr>
                                    <td>Lifetime</td>
                                    <td>{{ tank['lifetime_session'] }}</td>
                                    <td>{{ tank['lifetime_all'] }}</td>
                                </tr>
                                <tr>
                                    <td>DPM</td>
                                    <td>{{ '{:0.0f}'.format(tank['dpm_session']) }}</td>
                                    <td>{{ '{:0.0f}'.format(tank['dpm_all']) }}</td>
                                </tr>
                                <tr>
                                    <td>WN8</td>
                                    <td>{{ '{:0.0f}'.format(tank['wn8_session']) }}</td>
                                    <td>{{ '{:0.0f}'.format(tank['wn8_all']) }}</td>
                                </tr>
                            </table>
                        </div>  
                    </div>
                </div>
                {% endfor %}
            
        </div>
          
        <script>
            
            function ChartOverview()  {
                new Chart(document.getElementById("BarChart_dmgc"), { 
                    type: 'bar', 
                    data: {
                        labels: [{% for tank in session_tanks %}"{{ tank['tank_name']|safe }}",{% endfor %}], 
                        datasets: [{
                            label: "Session",
                            backgroundColor: 'hsla(195, 25%, 63%, 0.4)', 
                            borderColor: 'hsl(195, 25%, 63%)', 
                            borderWidth: 1,
                            data: [{% for tank in session_tanks %}{{ '{:0.0f}'.format(tank['dmgc_session']) }},{% endfor %}]
                        },  
                        {
                            label: "All time", 
                            backgroundColor: 'hsla(0, 0%, 80%, 0.4)', 
                            borderColor: 'hsl(0, 0%, 80%)', 
                            borderWidth: 1, 
                            data: [{% for tank in session_tanks %}{{ '{:0.0f}'.format(tank['dmgc_all']) }},{% endfor %}], 
                        }] 
                    },
                    options:  {
                        stacked: true,
                        legend: {
                            display: false
                        },
                        title: {
                            display: true,
                            text: "Average Damage"
                        }
                    }
                })
            };
            function ChartOverview2()  {
                new Chart(document.getElementById("BarChart_wn8"), { 
                    type: 'bar', 
                    data: {
                        labels: [{% for tank in session_tanks %}"{{ tank['tank_name']|safe }}",{% endfor %}], 
                        datasets: [{
                            label: "Selected Period",
                            backgroundColor: 'hsla(195, 25%, 63%, 0.4)', 
                            borderColor: 'hsl(195, 25%, 63%)', 
                            borderWidth: 1,
                            data: [{% for tank in session_tanks %}{{ '{:0.0f}'.format(tank['wn8_session']) }},{% endfor %}]
                        },  
                        {
                            label: "All time", 
                            backgroundColor: 'hsla(0, 0%, 80%, 0.4)', 
                            borderColor: 'hsl(0, 0%, 80%)', 
                            borderWidth: 1, 
                            data: [{% for tank in session_tanks %}{{ '{:0.0f}'.format(tank['wn8_all']) }},{% endfor %}], 
                        }] 
                    },
                    options:  {
                        stacked: true,
                        legend: {
                            display: false
                        },
                        title: {
                            display: true,
                            text: "WN8"
                        }
                    }
                })
            };
          
            {% for tank in session_tanks %}
            {% set id = tank['tank_id'] %}
            function Chart{{ id }}() { 
                new Chart(document.getElementById("canvas{{ id }}"), { 
                    type: 'radar', 
                    data: { 
                        labels: {{ radar_names|safe }}, 
                        datasets: [ { 
                            label: "Selected period",
                            backgroundColor: "hsla(0, 35%, 63%, 0.2)", 
                            borderColor: "hsl(0, 35%, 63%)", 
                            pointBackgroundColor: "hsl(0, 35%, 63%)", 
                            pointBorderColor: "#ffffff", 
                            pointHoverBackgroundColor: "#ffffff", 
                            pointHoverBorderColor: "hsl(0, 35%, 63%)", 
                            data: {{ tank['radar_session'] }} }, 
                                    {
                            label: "All time", 
                            backgroundColor: "hsla(195, 20%, 63%, 0.1)", 
                            borderColor: "hsl(195, 20%, 63%)", 
                            pointBackgroundColor: "hsl(195, 20%, 63%)", 
                            pointBorderColor: "#ffffff", 
                            pointHoverBackgroundColor: "#ffffff", 
                            pointHoverBorderColor: "hsl(195, 20%, 63%)", 
                            data: {{ tank['radar_all'] }} }, 
                        ] 
                    },
                    options: {
                        scale: {
                            ticks: {
                                beginAtZero: true
                            }
                        }
                    }  
                })
            };
            {% endfor %}
            
            window.onload = function() {
                sideMenu(event, 'overview');
                ChartOverview();
                ChartOverview2();
                // Paint the default tab
                var tablinks;
                tablinks = document.getElementsByClassName("tablinks");
                tablinks[0].className += " active";
            };
            
        </script>
    
    </section>
    
    {% endif %}
    
    <br> 
    
</form>

{% endblock %}