{% extends "index.html" %}
{% block content %}


<section class="section">    
    
    <div class="container">
        
        <div class="control is-grouped">
            <p class="control is-expanded">
                <input type="text" class="input" id="nickname" placeholder="Playername">
            </p>
            <p class="control has-addons">
                <a class="button" id="xbox" onclick="form.serverToggle('xbox')">XBOX</a>
                <a class="button" id="ps4" onclick="form.serverToggle('ps4')">PLAYSTATION</a>
            </p>
        </div>
        
        <p class="control">
            <a class="button is-primary is-fullwidth" onclick="form.submit()">{{ button }}</a>
        </p>
        
        <div class="columns">
            
            {% for checkpoint in history_checkpoints %}
            <div class="column">
                <p class="control">
                    <a class="button is-light is-fullwidth" onclick="form.requestSession('{{ checkpoint[0] }}')">{{ checkpoint[1] }}</a>
                </p>
            </div>
            {% endfor %}
            
        </div>

    </div>
    
    <form name="theForm" action="." method="POST">
        <input type=hidden name="form_data">
    </form>

    <script type="text/javascript">

        var formData = {{ form_data|safe }};
            
        // Calling the form function.
        var form = new formClass(formData);

        // Intiating the form.
        form.initBasics();

    </script>
    
    
    
    {% if session_tanks|length > 0 %}
    
    <div class="container">
        
        <div class="tile is-ancestor">
            
            <div class="tile is-parent is-2">
                <div class="tile is-child box">
                       
                    <aside class="menu">
                        <p class="menu-label">Tanks</p>
                        <ul class="menu-list">
                            {% for tank in session_tanks %}
                            {% set id = tank['tank_id'] %}
                            <li><a class="menulinks" id="{{ id }}" onclick="page.switchTank('{{ id }}');">{{ tank['tank_name']|safe }}</a></li>
                            {% endfor %}
                        </ul>
                    </aside>
            
                </div>
            </div>
            
            <div class="tile is-parent is-5">
                <div class="tile is-child box is-12">
                    
                    <canvas id="RadChCanvas" width="100" height="100"></canvas>
                
                </div>
            </div>
            
            <div class="tile is-parent is-5">
                <div id="TableParent" class="tile is-child box is-12">
                    
                    <table class="table">
                        
                    
                    </table>
                
                </div>
            </div>
            
        </div>
        
    </div>
    
    <script type="application/javascript">
        
        // All sesson data.
        var sessionTanks = {{ session_tanks|tojson|safe }};
        
        // Calling the page function.
        var page = new sessionTracker(sessionTanks);
         
        // Open the first menu item.
        document.getElementsByClassName("menulinks")[0].click();

    </script>
    
    
    {% endif %}
    
</section>

{% endblock %}