{% extends "index.html" %}
{% block content %}

<form action="." method="POST">
    
    <section class="center">
        <table class="form">
          <tr>
            <td>
              <table class="center-label">
                <tr>
                    <td colspan="2">
                        <input name="nickname" type="text" value="{{ nickname }}" style="width:95%;" placeholder="Enter your nickname" /></td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="server" id="xbox" value="xbox" {{ 'checked' if server == 'xbox' }}/>
                        <label for="xbox">XBOX</label>
                    </td>
                    <td>
                        <input type="radio" name="server" id="ps4" value="ps4" {{ 'checked' if server == 'ps4' }}/>
                        <label for="ps4">PS4</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" id="filter_by_50" name="filter_by_50" value="checked" {{ ' checked' if filter_by_50 == 'checked' }}/>
                        <label for="filter_by_50">More than 50 battles</label>
                    </td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                    {% for i in range(0,18,3) %}
                    <td>
                        <input type="checkbox" id="{{ checkboxes[i][1] }}" name="checkboxes_input" value="{{ checkboxes[i][1] }}"{{ ' checked' if checkboxes[i][2] == 'checked' }} />
                        <label for="{{ checkboxes[i][1] }}">{{ checkboxes[i][0] }}</label>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for i in range(1,18,3) %}
                    <td>
                        <input type="checkbox" id="{{ checkboxes[i][1] }}" name="checkboxes_input" value="{{ checkboxes[i][1] }}"{{ ' checked' if checkboxes[i][2] == 'checked' }} />
                        <label for="{{ checkboxes[i][1] }}">{{ checkboxes[i][0] }}</label>
                    </td>
                    {% endfor %}
                </tr>
                 <tr>
                    {% for i in range(2,18,3) %}
                    <td>
                        <input type="checkbox" id="{{ checkboxes[i][1] }}" name="checkboxes_input" value="{{ checkboxes[i][1] }}"{{ ' checked' if checkboxes[i][2] == 'checked' }} />
                        <label for="{{ checkboxes[i][1] }}">{{ checkboxes[i][0] }}</label>
                     </td>
                    {% endfor %}
                </tr>

                </table>
            </td>
            <td>
              <table class="center-label">
                    <tr>
                        {% for i in range(0,15,3) %}
                        <td>
                            <input type="checkbox" id="{{ checkboxes_filter[i][1] }}" name="filter_input" value="{{ checkboxes_filter[i][1] }}"{{ ' checked' if checkboxes_filter[i][2] == 'checked' }} />
                            <label for="{{ checkboxes_filter[i][1] }}">{{ checkboxes_filter[i][0] }}</label>
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for i in range(1,15,3) %}
                        <td>
                            <input type="checkbox" id="{{ checkboxes_filter[i][1] }}" name="filter_input" value="{{ checkboxes_filter[i][1] }}"{{ ' checked' if checkboxes_filter[i][2] == 'checked' }} />
                            <label for="{{ checkboxes_filter[i][1] }}">{{ checkboxes_filter[i][0] }}</label>
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for i in range(2,15,3) %}
                        <td>
                            <input type="checkbox" id="{{ checkboxes_filter[i][1] }}" name="filter_input" value="{{ checkboxes_filter[i][1] }}"{{ ' checked' if checkboxes_filter[i][2] == 'checked' }} />
                            <label for="{{ checkboxes_filter[i][1] }}">{{ checkboxes_filter[i][0] }}</label>
                        </td>
                        {% endfor %}
                    </tr>
                </table> 
            </td>
          </tr>

        </table>
    </section>

    <br>
    
    <section class="center">
        <div>
            <button type="submit" class="big-button"> {{ button|safe }} </button>
        </div>
    </section>

    {% if table_array|length > 0 %}
    <section class="center">
        <div id="TableParent">

        </div>
    </section>

    <script type="text/javascript">

        var data_array = {{ table_array|safe }}

        generate_table("TableParent", data_array);

    </script>
    {% endif %}


</form>

{% endblock %}