<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="World Of Tanks statistics with values precisely calculated for consoles.">
    <meta name="keywords" content="wot, world of tanks console, wot stats, wot xbox stats, console wn8, wot percentiles, charts, recent, console statistics, wot console stats, wot xbox stats, wot console statistics, world of tanks console, world of tanks xbox">
    <meta name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0' />
    <link rel="stylesheet" href="{{ url_for('static',filename='bulma.css') }}?v=11.06.17">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}?v=11.06.17">
    <script src="{{ url_for('static',filename='react.js') }}?v=11.06.17"></script>
    <script src="{{ url_for('static',filename='react-dom.js') }}?v=11.06.17"></script>
    <!--<script src="{{ url_for('static',filename='babel.min.js') }}?v=13.05.17"></script>-->
    <script src="{{ url_for('static',filename='fetch.js') }}?v=13.05.17"></script>
    <script src="{{ url_for('static',filename='Chart.min.js') }}?v=11.06.17"></script>
    <title>WoT Console Statistics</title>
</head>
<body>

<div id="root"></div>

<script src="{{ url_for('static',filename='test_app.js') }}?v=11.06.17"></script>
<!--<script type="text/babel" src="{{ url_for('static',filename='app.jsx') }}?v=13.05.17"></script>-->

</body>
</html>
