{% extends "index.html" %}
{% block content %}

<section class="section">
    <div class="container">
        
        
        <div class="control is-grouped">
            <p class="control is-expanded">
                <input type="text" class="input" id="nickname" placeholder="Playername">
            </p>
            <p class="control has-addons">
                <a class="button" id="xbox" onclick="form.serverToggle('xbox')">XBOX</a>
                <a class="button" id="ps4" onclick="form.serverToggle('ps4')">PLAYSTATION</a>
            </p>
        </div>

        <div class="columns is-mobile is-multiline">

            <div class="column">
                <p class="control">
                    <a id="1" class="button is-light is-fullwidth" onclick="form.filtersToggle('1')">Tier 1</a>
                </p>
                <p class="control">
                    <a id="2" class="button is-light is-fullwidth" onclick="form.filtersToggle('2')">Tier 2</a>
                </p>
            </div>

            <div class="column">
                <p class="control">
                    <a id="3" class="button is-light is-fullwidth" onclick="form.filtersToggle('3')">Tier 3</a>
                </p>
                <p class="control">
                    <a id="4" class="button is-light is-fullwidth" onclick="form.filtersToggle('4')">Tier 4</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="5" class="button is-light is-fullwidth" onclick="form.filtersToggle('5')">Tier 5</a>
                </p>
                <p class="control">
                    <a id="6" class="button is-light is-fullwidth" onclick="form.filtersToggle('6')">Tier 6</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="7" class="button is-light is-fullwidth" onclick="form.filtersToggle('7')">Tier 7</a>
                </p>
                <p class="control">
                    <a id="8" class="button is-light is-fullwidth" onclick="form.filtersToggle('8')">Tier 8</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="9" class="button is-light is-fullwidth" onclick="form.filtersToggle('9')">Tier 9</a>
                </p>
                <p class="control">
                    <a id="10" class="button is-light is-fullwidth" onclick="form.filtersToggle('10')">Tier 10</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="lightTank" class="button is-light is-fullwidth" onclick="form.filtersToggle('lightTank')">Light Tanks</a>
                </p>
                <p class="control">
                    <a id="mediumTank" class="button is-light is-fullwidth" onclick="form.filtersToggle('mediumTank')">Medium Tanks</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="heavyTank" class="button is-light is-fullwidth" onclick="form.filtersToggle('heavyTank')">Heavy Tanks</a>
                </p>
                <p class="control">
                    <a id="AT-SPG" class="button is-light is-fullwidth" onclick="form.filtersToggle('AT-SPG')">AT-SPG</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="SPG" class="button is-light is-fullwidth" onclick="form.filtersToggle('SPG')">SPG</a>
                </p>
                <p class="control">
                    <a class="button is-warning is-fullwidth" onclick="form.resetFilters();">Reset Filters</a>
                </p>
            </div>
        </div>

        <p class="control">
            <a class="button is-primary is-fullwidth" onclick="form.submit()">{{ button }}</a>
        </p>
        
        <form name="theForm" action="." method="POST">
            <input type=hidden name="form_data">
        </form>
        
        <script type="text/javascript">
    
            // Calling the form function.
            var form = new formClass();
            
            // Calling cookies.
            form.takeCookieData();
            
            // Intiating the form.
            form.initBasics();
            form.initFilters();

        </script>
        
        
        
        {% if wn8_labels|length > 0 %}
        
        <div class="tabs is-medium is-centered">
            <ul>
                <li class="tablinks" id="defaultTab" onclick="switchTab(event, 'DtdPercTab'); OpenDtdPercCh();">
                    <a>Day-to-day percentiles</a>
                </li>
                <li class="tablinks" onclick="switchTab(event, 'WN8Tab'); OpenWN8Ch();">
                    <a>WN8</a>
                </li>
            </ul>
        </div>
        
        <div id="DtdPercTab" class="tabcontent" style="display: hidden;">
            <canvas id="DtdPercChCanvas" width="400" height="150"></canvas>
        </div>
        
        <div id="WN8Tab" class="tabcontent" style="display: hidden;">
            <canvas id="WN8ChCanvas" width="400" height="150"></canvas>
        </div>
        
        <script type="text/javascript">
    
            function OpenDtdPercCh() {
                    new Chart(document.getElementById("DtdPercChCanvas"), {
                        type: 'line',
                        data:  {
                            labels: {{ wn8_labels|safe }},
                            datasets: [{
                                label: 'Accuracy',
                                fill: false,
                                borderColor: 'hsl(0, 25%, 63%)',
                                backgroundColor: 'hsla(0, 25%, 63%, 0.2)',
                                pointBorderColor: 'hsl(0, 25%, 63%)',
                                pointBackgroundColor: 'hsl(0, 25%, 63%)',
                                pointRadius: 4,
                                pointHoverRadius: 6,
                                data: [{% for item in percentiles_change %}"{{ item['acc']|safe }}",{% endfor %}],
                            },{ 
                                label: 'Damage Caused',
                                fill: false,
                                borderColor: 'hsl(228, 25%, 63%)',
                                backgroundColor: 'hsla(228, 25%, 63%, 0.2)',
                                pointBorderColor: 'hsl(228, 25%, 63%)',
                                pointBackgroundColor: 'hsl(228, 25%, 63%)',
                                pointRadius: 4,
                                pointHoverRadius: 6,
                                data: [{% for item in percentiles_change %}"{{ item['dmgc']|safe }}",{% endfor %}],
                            },{ 
                                label: 'Radio Assist',
                                fill: false,
                                borderColor: 'hsl(197, 25%, 63%)',
                                backgroundColor: 'hsla(197, 25%, 63%, 0.2)',
                                pointBorderColor: 'hsl(197, 25%, 63%)',
                                pointBackgroundColor: 'hsl(197, 25%, 63%)',
                                pointRadius: 4,
                                pointHoverRadius: 6,
                                data: [{% for item in percentiles_change %}"{{ item['rass']|safe }}",{% endfor %}],
                            },{ 
                                label: 'WinRate',
                                fill: false,
                                borderColor: 'hsl(127, 25%, 63%)',
                                backgroundColor: 'hsla(127, 25%, 63%, 0.2)',
                                pointBorderColor: 'hsl(127, 25%, 63%)',
                                pointBackgroundColor: 'hsl(127, 25%, 63%)',
                                pointRadius: 4,
                                pointHoverRadius: 6,
                                data: [{% for item in percentiles_change %}"{{ item['wr']|safe }}",{% endfor %}],
                            },{ 
                                label: 'Damage Received (inv)',
                                fill: false,
                                borderColor: 'hsl(60, 25%, 63%)',
                                backgroundColor: 'hsla(60, 25%, 63%, 0.2)',
                                pointBorderColor: 'hsl(60, 25%, 63%)',
                                pointBackgroundColor: 'hsl(60, 25%, 63%)',
                                pointRadius: 4,
                                pointHoverRadius: 6,
                                data: [{% for item in percentiles_change %}"{{ item['dmgr']|safe }}",{% endfor %}],
                            }],
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        callback: function(label, index, labels) {
                                            return label+'%';
                                        }
                                    },
                                }],
                            }
                        }
                    })
                };

            function OpenWN8Ch() {
                new Chart(document.getElementById("WN8ChCanvas"), {
                    type: 'line',
                    data: {
                        labels: {{ wn8_labels|safe }},
                        datasets: [
                            {
                                label: "WN8 Daily",
                                fill: false,
                                backgroundColor: "hsla(0, 35%, 63%, 0.2)", 
                                borderColor: "hsl(0, 35%, 63%)", 
                                pointBackgroundColor: "hsl(0, 35%, 63%)", 
                                pointBorderColor: "#ffffff", 
                                pointHoverBackgroundColor: "#ffffff", 
                                pointHoverBorderColor: "hsl(0, 35%, 63%)", 
                                data: {{ wn8_change }},
                            },
                            {
                                label: "WN8 Total",
                                fill: true,
                                backgroundColor: "hsla(195, 20%, 63%, 0.1)", 
                                borderColor: "hsl(195, 20%, 63%)", 
                                pointBackgroundColor: "hsl(195, 20%, 63%)", 
                                pointBorderColor: "#ffffff", 
                                pointHoverBackgroundColor: "#ffffff", 
                                pointHoverBorderColor: "hsl(195, 20%, 63%)", 
                                data: {{ wn8_totals }},
                            }
                        ]
                    },
                    options: {},
                })
            };

            document.getElementById("defaultTab").click();

        </script>
        
        {% endif %}


        
    </div>
</section>
    
{% endblock %}