{% extends "index.html" %}
{% block content %}

    <section class="section">
        
        <div class="container">
            
            
                
            <div class="control is-grouped">
                <p class="control is-expanded">
                    <input type="text" class="input" id="nickname" placeholder="Playername">
                </p>
                <p class="control has-addons">
                    <a class="button" id="xbox" onclick="form.serverToggle('xbox')">XBOX</a>
                    <a class="button" id="ps4" onclick="form.serverToggle('ps4')">PLAYSTATION</a>
                </p>
            </div>
            
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child is-flex">
                        <div class="columns is-gapless is-mobile is-multiline">
                        {% for i in range(0, 18, 3) %}
                        {% set temp_list = [data_selectors[i], data_selectors[i+1], data_selectors[i+2]] %}
                        <div class="column">
                            {% for item in temp_list %}
                            <a class="button is-small is-light is-fullwidth" id="{{ item[1] }}" onclick="form.dataSelToggle('{{ item[1] }}')">{{ item[0] }}</a>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        </div>
                    </div>   
                </div>
                <div class="tile is-parent is-3">
                    <div class="tile is-child">
                        <div class="columns is-gapless is-mobile is-multiline">
                            {% for i in range(0, 15, 3) %}
                            {% set temp_list = [filter_selectors[i], filter_selectors[i+1], filter_selectors[i+2]] %}
                            <div class="column">
                                {% for item in temp_list %}
                                <a class="button is-fullwidth is-small is-light" id="{{ item[1] }}" onclick="form.filtersToggle('{{ item[1] }}')">{{ item[0] }}</a>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
            <p class="control">
                <a class="button is-light is-small is-fullwidth" id="filter_by_50" onclick="form.filterBy50Toggle()">Filter by at least 50 battles</a>
            </p>
            
            <p class="control">
                <a class="button is-primary is-fullwidth" onclick="form.submit()">{{ button }}</a>
            </p>
            
        </div>
        
        <form name="theForm" action="." method="POST">
            <input type=hidden name="form_data">
        </form>
        
        <script type="text/javascript">
            
            // Calling the form function.
            var form = new formClass();
            
            // Calling cookies.
            form.takeCookieData();
            
            // Intiating the form.
            form.initBasics();
            form.initFilters();
            form.initFilterBy50();
            form.initDataSelectors();

        </script>
        
    </section>

    
{% if table_array|length > 0 %}

<div id="TableParent" class="container">
</div>

<script type="text/javascript">
    
    // Loading values.
    var data = {{ table_array|safe }};

    // Calling the page function.
    var page = new vehiclesPage(data);
    
    // Drawing table.
    page.sortedArray = page.unsortedArray;
    page.generateTable();
    
</script>

{% endif %}

{% endblock %}