{% extends "index.html" %}
{% block content %}

<section class="section">
    <div class="container">
        
        <div class="control is-grouped">
            <p class="control is-expanded">
                <input type="text" class="input" id="nickname" placeholder="Playername">
            </p>
            <p class="control has-addons">
                <a class="button" id="xbox" onclick="form.serverToggle('xbox')">XBOX</a>
                <a class="button" id="ps4" onclick="form.serverToggle('ps4')">PLAYSTATION</a>
            </p>
        </div>
          
        <div class="columns">

            <div class="column">
                <p class="control">
                    <a id="1" class="button is-light is-fullwidth" onclick="form.filtersToggle('1')">Tier 1</a>
                </p>
                <p class="control">
                    <a id="2" class="button is-light is-fullwidth" onclick="form.filtersToggle('2')">Tier 2</a>
                </p>
            </div>

            <div class="column">
                <p class="control">
                    <a id="3" class="button is-light is-fullwidth" onclick="form.filtersToggle('3')">Tier 3</a>
                </p>
                <p class="control">
                    <a id="4" class="button is-light is-fullwidth" onclick="form.filtersToggle('4')">Tier 4</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="5" class="button is-light is-fullwidth" onclick="form.filtersToggle('5')">Tier 5</a>
                </p>
                <p class="control">
                    <a id="6" class="button is-light is-fullwidth" onclick="form.filtersToggle('6')">Tier 6</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="7" class="button is-light is-fullwidth" onclick="form.filtersToggle('7')">Tier 7</a>
                </p>
                <p class="control">
                    <a id="8" class="button is-light is-fullwidth" onclick="form.filtersToggle('8')">Tier 8</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="9" class="button is-light is-fullwidth" onclick="form.filtersToggle('9')">Tier 9</a>
                </p>
                <p class="control">
                    <a id="10" class="button is-light is-fullwidth" onclick="form.filtersToggle('10')">Tier 10</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="lightTank" class="button is-light is-fullwidth" onclick="form.filtersToggle('lightTank')">Light Tanks</a>
                </p>
                <p class="control">
                    <a id="mediumTank" class="button is-light is-fullwidth" onclick="form.filtersToggle('mediumTank')">Medium Tanks</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="heavyTank" class="button is-light is-fullwidth" onclick="form.filtersToggle('heavyTank')">Heavy Tanks</a>
                </p>
                <p class="control">
                    <a id="AT-SPG" class="button is-light is-fullwidth" onclick="form.filtersToggle('AT-SPG')">AT-SPG</a>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <a id="SPG" class="button is-light is-fullwidth" onclick="form.filtersToggle('SPG')">SPG</a>
                </p>
                <p class="control">
                    <a class="button is-warning is-fullwidth" onclick="form.resetFilters();">Reset Filters</a>
                </p>
            </div>
        </div>
 
        <p class="control">
            <a class="button is-primary is-fullwidth" onclick="form.submit()">{{ button }}</a>
        </p>

    </div>
    
    <form name="theForm" action="." method="POST">
        <input type=hidden name="form_data">
    </form>

    <script type="text/javascript">

        // Calling the form function.
        var form = new formClass();

        // Calling cookies.
        form.takeCookieData();
            
        // Intiating the form.
        form.initBasics();
        form.initFilters();

    </script>

</section>


{% if table_array|length > 0 %}
{% set colors = [[300, "ORANGERED"],
                 [450, "DARKORANGE"],
                 [650, "GOLD"],
                 [900, "YELLOWGREEN"],
                 [1200, "LIME"],
                 [1600, "DEEPSKYBLUE"],
                 [2000, "DODGERBLUE"],
                 [2450, "MEDIUMSLATEBLUE"],
                 [2900, "REBECCAPURPLE"]] %}



<div class="container">
    
    <div class="notification has-text-centered">
        WN8 damage targets are calculated according to the current player statistics in real time.
    </div>
    
    <div class="tabs is-centered">
        <ul>
            <li class="tablinks" id="wn8td" onclick="page.openTab('wn8td');">
                <a>WN8 Target Damage</a>
            </li>
            <li class="tablinks" id="wn8pv" onclick="page.openTab('wn8pv');">
                <a>WN8 Player Values</a>
            </li>
        </ul>
    </div>
    
    <div id="TableParent">
    </div>
    
</div>

<script type="text/javascript">
    
    // Getting the data from server.
    var data = {{ table_array|tojson|safe }};
    
    // Calling the page function.
    var page = new wn8Estimates(data);
    
    // Clicking the first tab.
    document.getElementsByClassName("tablinks")[0].click();

</script>

{% endif %}

{% endblock %}